:root {
    font-family: 'Hind', sans-serif;
    font-size: max(3.8vw, 16px);
    background-color: #EDA;
    color: #310;
}

:has(span[is="self-typing"]) {
    position: relative;
}

.type-async--cursor {
    user-select: none;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 900;
    color: var(--t-primary);
}

.user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    min-height: 100vh;
    justify-content: center;

}

.user h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Teko', sans-serif;
    line-height: 1em;
    text-decoration: 0.1em solid underline #EC8;
}

.user p {
    font-weight: 300;
}

.user__social {
    padding: 0;
    display: flex;
    gap: 2rem;
    color: #F20;
    font-size: 1.5rem;
}

.arrow {
    animation: jump 2s infinite;
}

@keyframes jump {
    from, to {
        transform: translateY(0);
    }
    50% {
        transform: translateY(+0.5em);
    }
}

section {
    margin-bottom: 0.5rem;
}

section h2 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Teko', sans-serif;
    line-height: 1em;
    text-decoration: 0.1em solid underline #EC8;
}

.personal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    padding: 0.5rem;
}

footer {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.6rem;
}

.repositories a {
    color: #387;
    
}

.repositories a:hover {
    color: #F20;
}

.repositories ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.user img {
    width: 35vh;
    max-width: 40vw;
    border-radius: 50%;
    border: 0.25rem solid #EC8;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.repositories {
    padding: 0.5rem;
}