:root {
    font-family: 'Hind', sans-serif;
    font-size: 4vw;
    background-color: #EDA;
    color: #310;
}

:has(span[is="self-typing"]) {
    position: relative;
}

.type-async--cursor {
    user-select: none;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 900;
    color: var(--t-primary);
}

.user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    min-height: 100vh;
    justify-content: center;

}

.user h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Teko', sans-serif;
    line-height: 1em;
    text-decoration: 0.1em solid underline #EC8;
}

.user p {
    font-weight: 300;
}

.user__social {
    padding: 0;
    display: flex;
    gap: 2rem;
    color: #F20;
}

.arrow {
    animation: jump 2s infinite;
}

@keyframes jump {
    from, to {
        transform: translateY(0);
    }
    50% {
        transform: translateY(+0.5em);
    }
}

section {
    margin-bottom: 0.5rem;
}

section h2 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Teko', sans-serif;
    line-height: 1em;
    text-decoration: 0.1em solid underline #EC8;
}

.personal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    min-height: 100vh;
    justify-content: center;
}